/*Menu Bar */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/*-------------------------------- END ----*/
    #body-row {
        margin-left: 0;
        margin-right: 0;
    }

    #sidebar-container {
        min-height: 100vh;
        background-color: #1fa8e0;
        padding: 0;
        /* flex: unset; */
    }
    
    .sidebar-expanded {
        width: 230px;
    }
    
    .sidebar-collapsed {
        /*width: 60px;*/
        width: 100px;
    }

    /* ----------| Menu item*/    
    #sidebar-container .list-group a {
        height: 50px;
        color: #d42931;
    }

    /* ----------| Submenu item*/    
    #sidebar-container .list-group li.list-group-item {
        background-color: #1fa8e0;
    }
    
    #sidebar-container .list-group .sidebar-submenu a {
        height: 45px;
        padding-left: 30px;
    }
    
    .sidebar-submenu {
        font-size: 0.9rem;
    }

    /* ----------| Separators */    
    .sidebar-separator-title {
        background-color: white;
        height: 35px;
    }
    
    .sidebar-separator {
        background-color: white;
        height: 25px;
    }
    
    .logo-separator {
        background-color: white;
        height: 60px;
    }
    
    a.bg-dark {
        background-color: white !important;
    }
#menu-name{
    color: white;
    font-size: 22px;
}
.sun_name{
    color: #d42931;
}
/* End Menu*/

#id{
    background-color: aqua;
    width: 100%;
}
#line{
    width: 100%;
    height: 15px;
    background-color: #d42931;
    padding-bottom: 5px;
}
.search{
 margin-top: 70px;  
}
#search{
    width: 100%;
}
#footer{
    height: 50px;
    background-color: #1fa8e0;
}